this is a new user page<br>
loaded with postgress and using pg

<div class="col-4" style="color:black">This is the first column</div>
<div class="col-8" style="color:red">This is the first column</div>

<div class="col-4" style="color:white background-color:yellow" >This is the first column</div>
<div class="col-8" style="background-color:red">This is the first column</div>

<div class="row">
    <div class="col-4" style="color:black">This is the first column</div>
    <div class="col-8" style="color:red">This is the first column</div>
</div>